#subject {
    width: 600px;
}

textarea#description {
    width: 800px;
    height: 200px;
}

textarea#output {
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
}

input#paste_image {
    width: 250px;
}

#canvas_list {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
}

.canvas_wrapper {
    display: inline-block;
    /* border-radius: 5px; */
    /* border: 2px solid #212aad; */
    margin: 5px;
    /* padding: 5px; */
    /* width: 400px; */
    /* height: 200px; */
}

.thumbnail {
    border: 1px solid grey;
    /* margin: 5px; */
}

.closeCanvas {
    float: right;
    /* display: inline-block; */
    padding: 2px 5px;
    background: #ccc;
}

.closeCanvas:hover {
    float: right;
    /* display: inline-block; */
    padding: 2px 5px;
    background: #ccc;
    color: #fff;
}

#file_list {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
}

.input_wrapper {
    /* display: block; */
}

#file_list>.input_wrapper>input {
    /* display: block; */
    margin: 10px;
}